.tx-al{
text-align: center;
}
.flex{
display: flex;
}
.bold
{   }
.button{
color: #FFFFFF;
background-color:#4E47FF ;
padding:  12px 36px;
border-radius: 10px;
font-size: 16px ;


}
 .Stay-focous{
 /* position:  ; */

} 


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  

}

.intro{
display: flex;
align-items: center;
justify-content: space-between;
margin: 0px  150px ;
margin-bottom: 150px;

 
}
.body{
background-color: aliceblue ;
}
.header
{
background-image: url('Assets/Hero-bg.png')


}
.nav{


justify-content: center;
text-align: center;
margin-bottom: 106px;


}


.nav-title{
font-weight: 990 ;
font-size:x-large;

color: #4E47FF;
}

.nav ul li {
list-style: none;
}
.nav li a{
text-decoration:none ;
}

.cool-dark{
text-align: center;
justify-content: center;

margin-bottom: 0px ;

}
.main
{

}

.nav-main{
margin:  00px 140px ;

}
.div-main{


}



.Action-section{  
display: flex;
justify-content: space-between;
 /* background-color: rebeccapurple; */ 
}
.see-action
{
/* background-color: aqua; */
margin:  auto 0;
font-size: large;
/* border-radius: 10px; */
}

.webflow-image{ 
border-radius: 10px;
}
.h5{

}


.Productive-user
{
justify-content: center;
background-color:#dbdafb ;
margin-top: 140px;
height: 306px;
text-align: center;
font-size: large ;
border-radius: 10px;
padding-top: 50px;
}
.user-type
{

text-align: center;
display: flex;
justify-content: center;
gap: 150px;


}
.number
{font-size: 80px;
color: #4E47FF;
font: bold;

}
.card-container{
gap: 20px;
}

.card{
border-radius: 10px;
padding: 20px;
background-color: #FFFFFF;

}
.rn {

}
.user-say{
margin: 140px 0;

}

.tuch-sec{
/* text-align: center; */
justify-content: space-between;
/* margin:  auto 0; */

}
.touch{
margin:  auto 0;
}
.getin
{margin: auto 0;
}
.btn{
padding: auto;
border: 50px  ;
}